<%= simple_form_for @card, url: url, html: { multipart: true } do |f| %>
	<% if @card.errors.any? %>
		<div class="panel-body">
	    <h2><%= pluralize(@card.errors.count, "error") %> </h2>
	    <ul>
	      <% @card.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	      <% end %>
	    </ul>
		</div>
	<% end %>

	Upload image: <%= f.input :image %>
	...or provide a URL: <%= f.input :image_remote_url %>
  <%= f.input :original_text %>
  <%= f.input :translated_text %>
  <%= f.association :deck, collection: current_user.decks, selected: params[:deck_id], label: "Deck" %> 
  <%= f.button :submit %>
<% end %>
