<%= simple_form_for @deck do |f| %>
  <% if @deck.errors.any? %>
    <div class="panel-body">
      <h2><%= pluralize(@deck.errors.count, "error") %> </h2>
      <ul>
        <% @deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  
  <%= f.simple_fields_for :user  do |i| %>
    <%= i.input :current_deck_id, as: :boolean, checked_value: @deck.id, unchecked_value: 0  %>
  <% end %> 

  <%= f.button :submit %>
<% end %>
