<div class="col-md-6 col-md-offset-3">
	<h2>Decks</h2>

	<table class="table table-striped"
	  <tr>
	    <th><%= "Title" %></th>
	    <th><%= "Cards" %></th>
	    <th><%= "Current deck" %></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	  <% @decks.each do |deck| %>
	    <tr>
	      <td><%= link_to deck.title, deck_path(deck) %></td>
	      <td><%= deck.cards.count %></td>
	      <% if deck.current_deck? %>
	      	<td><span><<<{current}>>></span></td>
	      <% else %>
	      	<td></td>	
	      <% end %>	
	      <td><%= link_to "Edit", edit_deck_path(deck) %></td>
	      <td><%= link_to "Delete", deck_path(deck), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      <td><%= link_to "Add Card", new_deck_card_path(deck, @card) %></td>
	    </tr>
	  <% end %>
	</table>
	<%= link_to "New Deck", new_deck_path %>
</div>
