<div class="col-md-6 col-md-offset-3">


	<table class="table table-striped"
	  <tr>
	    <th><%= "Title" %></th>
	    <th><%= "Original" %></th>
	    <th><%= "Translated" %></th>
	    <th><%= "Review date" %></th>
	  </tr>

	 	<% @cards.each do |card| %>
	    <tr>
	    	<td><%= @deck.title %></td>
	      <td><%= link_to card.original_text, edit_card_path(card) %></td>
	      <td><%= card.translated_text %></td>
	      <td><%= card.review_date.to_datetime.strftime("%d/%m/%Y") %></td>
	    </tr>
  	<% end %>
	</table>
</div>



