<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <%= link_to "Флэшкарточкер", root_path, class: "navbar-brand" %>
		    </div>
		    <ul class="nav navbar-nav">
		    	<li><%= link_to "Все карточки", cards_path %></li>
		    </ul>	
		    <ul class="nav navbar-nav navbar-right">
					<% if current_user %>
						<%= link_to "Decks", decks_path %>
						<%= link_to "Edit Profile", edit_user_path(current_user.id) %>
						<%= link_to "Logout", :logout, method: :post %>
					<% else %>
						<%= link_to "Register", new_user_path %> |
						<%= link_to "Login", :login %>
					<% end %>
		      <%= link_to "Добавить карточку", new_card_path, class: "btn btn-danger navbar-btn" %>
		    </ul>
		  </div>
		</nav>
		<div>
	    <p id="notice"><%= flash[:notice] %></p>
	    <p id="alert"><%= flash[:alert] %></p>
	  </div>

    <%= yield %>
  </body>
</html>
